.page {
  position: relative;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#behind-fences {
  top: 0;
  background-image: $fences;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#after-the-fences {
  background-image: linear-gradient(0deg, $color-3-hex, transparent);
}

#tear-down-the-fences {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-3-hex;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-2-hex;

  h1,
  h2 {
    text-align: center;
  }

  #copyright {
    position: absolute;
    bottom: 0;
    z-index: 0;

    p {
      font-size: 0.7rem;
    }
  }
}

dialog {
  color: black;
  border-radius: 0.3rem;
  border-width: 0;
  max-height: 70%;
  max-width: 70%;
  padding: 1rem;
  background-color: white;

  /* prettier-ignore */
  box-shadow:
    0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;

  a {
    color: inherit;

    &::before {
      background-color: black;
    }

    &:hover {
      color: inherit;
    }
  }

  &::backdrop {
    background-color: white;
    opacity: 0.7;
  }

  + .backdrop {
    background-color: white;
    opacity: 0.7;
  }
}
