.page {
  height: 100%;
  left: 0;
  position: relative;
  scroll-snap-align: start;
  top: 100%;
  width: 100%;
}

#behind-fences {
  background-image: $fences;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}

#after-the-fences {
  background-image: linear-gradient(0deg, $color-3-hex, transparent);
}

#tear-down-the-fences {
  align-items: center;
  background-color: $color-3-hex;
  display: flex;
  justify-content: center;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

#about {
  align-items: center;
  background-color: $color-2-hex;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  h2 {
    text-align: center;
  }

  #copyright {
    bottom: 0;
    position: absolute;
    z-index: 0;

    p {
      font-size: 0.7rem;
    }
  }
}

dialog {
  background-color: #fff;
  border-radius: 0.3rem;
  border-width: 0;
  /* prettier-ignore */
  box-shadow:
    0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  color: #000;
  max-height: 70%;
  max-width: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 1rem;

  a {
    color: inherit;

    &::before {
      background-color: #000;
    }

    &:hover {
      color: inherit;
    }
  }

  &::backdrop {
    background-color: #fff;
    opacity: 0.7;
  }

  + .backdrop {
    background-color: #fff;
    opacity: 0.7;
  }
}

@media only screen and (max-device-height: ($mobile-max-height - 1px)) and (orientation: landscape) {
  #about #copyright p {
    margin-bottom: 0;
  }
}
