.rotate-phone-icon {
  background-image: $rotate-phone;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: invert(100%);
  height: $rotate-icon-size;
  margin: 0 auto;
  position: absolute;
  top: 5%;
  width: $rotate-icon-size;
}
