// Colors
$bg-color: #eee;
$dot-color: #666;

// Dimensions
$dot-size: 1px;
$dot-space: 24px;

main {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  // Background pattern
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;

  h1 {
    text-align: center;
    text-transform: uppercase;

    a {
      color: black;
      text-decoration: none;
    }
  }
}
