body {
  height: 100vh;
  width: 100vw;
  color: $color-2-hex;
  background-color: $color-3-hex;
  background-image: $bg-image-webp;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  *,
  *::before,
  *::after {
    color: inherit;
  }

  main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}

#desktop {
  display: inherit;
  height: 100%;
  width: 100%;
}

#mobile {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

.no-webp,
.no-js {
  body {
    background-image: $bg-image-jpeg;
  }
}

@media only screen and (max-device-width: ($mobile-max-width - 1px)) and (orientation: portrait) {
  #desktop {
    display: none;
  }

  #mobile {
    display: flex;
  }
}
