/* Normalize.css */
@import '../../node_modules/normalize.css/normalize.css';

/* dialog-polyfill */
@import '../../node_modules/dialog-polyfill/dist/dialog-polyfill.css';

/* Custom Properties */
:root {
  --vh: 1vh;
}

/* Global Styles */
html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Partials */
@import './theme.scss';
@import './partials/main.scss';
@import './partials/main/desktop.scss';
@import './partials/main/mobile.scss';

/* Basics */
a {
  text-decoration: none;
}

p {
  line-height: $line-height;
}
