/* Color Theme Swatches in Hex */
$color-1-hex: #360a63;
$color-2-hex: #693c96;
$color-3-hex: #000230;
$color-4-hex: #3d2f0f;
$color-5-hex: #633f0a;

/* Background image */
$bg-image-webp: url('../images/unlicensed/help-me.webp');
$bg-image-jpeg: url('../images/unlicensed/help-me.jpg');

/* Images */
$fences: url('../images/svg/fences.svg');

/* Breakpoints */
$mobile-max-width: 768px;

/* Typography */
$font-color: white;
$anchor-color: white;
$line-height: 1.5rem;
