//- Site informations
- var lang = "en"
- var basePath = "./"
- var imagePath = basePath + "images/"
- var stylesPath = basePath + "styles/"
- var scriptsPath = basePath + "scripts/"

//- Assets
- var rightArrow = imagePath + "png/right-arrow.png"

//- Misc
- var contactHref = "mailto:info@freetheuyghurs.com"
- var githubHref = "https://github.com/joaocarmo/free-the-uyghurs"
- var lwtVideo = "https://www.youtube.com/watch?v=17oCQakzIl8"
