//- Site informations
- var lang = "en"
- var basePath = "./"
- var imagePath = basePath + "images/"
- var stylesPath = basePath + "styles/"
- var scriptsPath = basePath + "scripts/"

//- Page informations
- var title = "Free The Uyghurs"
- var metaDesc = "The human rights abuses the Uyghur people are facing at the hands of the Chinese government are worth our undivided attention."

- var lwtVideo = "https://www.youtube.com/watch?v=17oCQakzIl8"
