//- Site informations
- var lang = "en"
- var basePath = "./"
- var imagePath = basePath + "images/"
- var stylesPath = basePath + "styles/"
- var scriptsPath = basePath + "scripts/"

//- Misc
- var contactHref = "mailto:info@freetheuyghurs.com"
- var githubHref = "https://github.com/joaocarmo/free-the-uyghurs"
- var lwtVideo = "https://www.youtube.com/watch?v=17oCQakzIl8"
- var copyrightNotice = "Copyright © 2020 João Carmo, Tãnia Matos. All Rights Reserved."
- var aboutText = description
