section#timeline-container
  article.timeline
    h1
      a(href=lwtVideo, target='_blank', rel='noopener noreferrer')= title
  //- article.timeline
  //-   h1
  //-     a(href=lwtVideo, target='_blank', rel='noopener noreferrer')= title
