include ./partials/config
block config

doctype
html(lang=lang)
  head
    include ./partials/head
  block styles
    link(rel='stylesheet', href=stylesPath + "index.scss")
body
  main
    include ./partials/main
  footer
    include ./partials/footer
  block scripts
    script(src=scriptsPath + "index.js", async)
